.wd-image {
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

.bg-color.override {
    background-color: black;
}

.active-color.override {
    color: white;
    font-weight: bold;
}

.wd-text-color.override {
    color: lightgray;
}

.input-group.override {
    background-color: rgb(22,24,28);
    border-color: rgb(22,24,28);
}

.wd-search-bar.override {
    background-color: rgb(22,24,28);
    border-color: rgb(22,24,28);
}

.fa-search.override {
    color: #686A6C;
    margin-left: 15px;
}

.fa-cog.override {
    color: #686A6C;
    margin-right: 12px;
}

.wd-border-color {
    border: 2px solid rgb(22,24,28);
}

.nav-tabs.override-bottom {
    border-bottom-color: rgb(22,24,28);
}

.nav-link.override {
    color: #686A6C;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.wd-highlight {
    border-bottom: 5px solid rgb(29, 161, 242);
}

.list-group-item.override {
    color: lightgray;
    background-color: black;
}

.text-secondary.override {
    font-size: 13px;
}

.wd-title {
    font-size: 15px;
}

.list-group.override {
    background-color: rgb(22,24,28);
    border-radius: 20px;
}

.list-group-item.override-bg-text {
    color: lightgray;
    background-color: rgb(22,24,28);
}

.btn-primary.override {
    background-color: lightgray;
    border-color: lightgray;
    color: black;
    font-weight: bold;
}

.wd-gray-text {
    color: #686A6C;
    font-size: 15px;
}